*{
    margin: 0;
}
a {
    margin-left: 20px;
    font-size: 35px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clr {
    clear: both;
}
/*.mb{
    margin-bottom: 0.5%;

.ml{
    margin-left: 1%;
}*/
.ht {
    height: 60px;
}
.bg-blue {
    background-color: blue;
}
.bg-red {
    background-color: red;
}
.bg-yellow{
    background-color: yellow;
}
.bg-green {
    background-color: green;
}
.bg-pink{
    background-color: pink;
}
.row1 {
    width: 100%;
}
.row2 {
    width: 50%;
   
}
.row3 {
    width: 33.33%;
}
.row4{
    width: 25%;
}
.row5{
    width: 20%;
}
.row6{
    width: 16.66%;
}
.row7 {
    width: 14.28%;
}
.row8 {
    width: 12.5%;
}
.row9 {
    width: 11.11%;
}
.row10 {
    width: 10%;
}
.row11 {
    width: 9.09%;
}
.row12 {
    width: 8.33%;
}